<?xml version="1.0" encoding="UTF-8"?>
<!-- 
  Author: Prayash Rawal
  Purpose: Configures the RescueNet web application, defining the welcome file and servlet
           mappings for handling static resources such as CSS, images, and uploaded files.
-->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="https://jakarta.ee/xml/ns/jakartaee"
    xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
    id="WebApp_ID" version="6.0">
    <display-name>RescueNet</display-name>

    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/css/*</url-pattern>
        <url-pattern>/resources/*</url-pattern>
        <url-pattern>/Uploads/*</url-pattern>
    </servlet-mapping>

</web-app>